@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;  
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.svg-container {
  max-width: calc(200vh - 4px);
  margin: 0 auto;
}

/* TODO: make nicer with SCSS... */
svg {
  /* border: solid 1px blue; */

  width:  calc(50vw - 10px);
  height: calc(50vw - 10px);

  max-width:  calc(100vh - 4px);
  max-height: calc(100vh - 4px);
}

#non-bab-clock-svg {
  display: none;
}

.non-bab-rim {
  fill: none;
  stroke: crimson;
  stroke-width: 0.2;
}

.bo-hand {
  stroke: purple;
  stroke-width: 1;
}

.mi-hand {
  stroke: purple;
  stroke-width: 0.4;
}

.roman-rim {
  fill: none;
  stroke: black;
  stroke-width: 0.8;
}

.roman-hand {
  stroke: black;
  stroke-width: 0.85;
}

.ro-min-hand {
  stroke: black;
  stroke-width: 0.4;
  
  transform-origin: 100% 100%;
  animation-name: min-hand;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes min-hand {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
